/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"],
select {
    max-width: 280px;
}*/


input[type="checkbox"] {
    margin-right: 4px;
}

.left-margin {
    margin-left: 15px;
}

.right-margin {
    margin-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

img {
    max-height: 300px;
}

.full-width {
    width: 100%;
}

.dropdown-menu {
    min-width: 250px;
}

.no-wrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.table > tbody > tr > td, .table > tbody > tr > th {
    vertical-align: middle;
}

footer {
    margin-top: 0 !Important;
}

.big-checkbox > input[type=checkbox] {
    width: 30px;
    height: 30px;
}

.min-width-05 {
    -moz-min-width: 50px;
    -ms-min-width: 50px;
    -o-min-width: 50px;
    -webkit-min-width: 50px;
    min-width: 50px;
}

.min-width-10 {
    -moz-min-width: 100px;
    -ms-min-width: 100px;
    -o-min-width: 100px;
    -webkit-min-width: 100px;
    min-width: 100px;
}

.min-width-15 {
    -moz-min-width: 150px;
    -ms-min-width: 150px;
    -o-min-width: 150px;
    -webkit-min-width: 150px;
    min-width: 150px;
}

.min-width-20 {
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
}

.min-width-250 {
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    min-width: 250px;
}

.img-table {
    height: 35px;
}

